<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.nofap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NoFap Motivasyon</name>
    <description>Kişisel gelişim ve motivasyon uygulaması</description>
    <author email="dev@example.com" href="http://example.com">
        Your Name
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
    </platform>
</widget> 